$bgcolor: #f2f2f2;
$white: #fff;
$borderLightColor: #f5f5f5;
$borderColor: #d7d7d7;
$green: #4fceab;
$greenSeguros: #30b131;
$gray: #999;
$grayDark: #666;
$black: #444;
$yellow: #ffc000;
$red: #f44338;
