md-select-custom {
	display: block;
	position: relative;
	border: 1px solid $borderColor;
	padding: 10px 10px 8px;
	border-radius: 0.25rem;
	height: 4.45rem;
	width: 100%;
	* {
		user-select: none;
	}
	&.read-only {
		md-select {
			user-select: none;
			display: none;
			pointer-events: none;
		}
		.md-select-custom-value {
			color: $gray;
			pointer-events: none;
		}
		.material-icons.dropdown {
			color: $gray;
			pointer-events: none;
		}
	}
	&.pointer-event-none {
		pointer-events: none;
	}
	md-select {
		position: absolute;
		opacity: 0;
		top: 30px;
		left: 0;
		right: 0;
		margin-bottom: 0;
		margin-top: 0;
		bottom: 0;
	}
	.md-select-custom-placeholder {
		right: 0;
		left: 0;
		padding: 0 10px;
		position: absolute;
		top: 5px;
		line-height: 24px;
		font-size: 14px;
		color: $grayDark;
		pointer-events: none;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.md-select-custom-value {
		pointer-events: none;
		position: absolute;
		padding: 2px 24px 2px 10px;
		font-size: 16px;
		top: 40px;
		left: 0;
		right: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.material-icons.dropdown {
		pointer-events: none;
		position: absolute;
		right: .25rem !important;
		top: 2.5rem !important;
		color: $grayDark;
		font-size: 1.5rem !important;
	}
	.material-icons {
		position: absolute;
		right: .5rem !important;
		top: 0.5rem !important;
		color: $green;
		font-size: 1.25rem;
		cursor: pointer;
		user-select: none;
		outline: none !important;
	}
	.md-select-custom-loading {
		pointer-events: none;
		position: absolute;
		padding: 2px 20px 2px 10px;
		font-size: 16px;
		top: 40px;
		left: 0;
		right: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: $gray;
	}
	.spinner {
		position: absolute !important;
		right: .25rem !important;
		top: 40px;
		transform: translateY(-50%);
	}
}
