<div class="md-select-custom-placeholder" ng-if="$ctrl.placeholder">{{$ctrl.placeholder}}</div>
<div ng-show="!$ctrl.loading">
    <div class="md-select-custom-value">{{$ctrl.ngValue || $ctrl.placeholder}}</div>
    <i class="material-icons dropdown">&#xE5CF;</i>
</div>
<div ng-show="$ctrl.loading">
    <div class="md-select-custom-loading">Cargando...</div>
    <div class="spinner"></div>
</div>