md-input-bordered {
	display: block;
	position: relative;
	margin-top: 1.35rem;
	width: 100%;
	&.loading {
		.spinner {
			display: block;
		}
	}
	.spinner {
		display: none;
		position: absolute !important;
		right: 1rem !important;
		top: .75rem;
		transform: translateY(-50%);
	}
	input {
		width: 100%;
		background: transparent;
		border: 0;
		padding: .85rem 1.5rem .85rem .5rem;
		height: 46px;
		transition: border 250ms;
		border: 2px solid $greenSeguros;
		border-radius: 0.25rem;
		&:active {
			outline: none;
		}
		&.ng-not-empty {
			& ~ label,
			label ~ & {
				height: 25px;
				padding: 0 0 0 0;
				top: -1.45rem;
				font-size: 14px;
				color: $greenSeguros;
			}
		}
		&.ng-invalid:not(.ng-empty) {
			border-color: $red;
			& ~ label,
			label ~ & {
				height: 25px;
				padding: 0 0 0 0;
				top: -1.45rem;
				font-size: 14px;
				color: $red;
			}
		}
		&:focus {
			outline: none;
			& ~ label,
			label ~ & {
				height: 25px;
				padding: 0 0 0 0;
				top: -1.45rem;
				font-size: 14px;
				color: $greenSeguros;
			}
		}
	}
	label {
		user-select: none;
		color: $grayDark;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		height: 46px;
		padding: .85rem 1.5rem .85rem .5rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		pointer-events: none;
		transition: all 250ms ease;
	}
}
