<form name="asegurado" class="section-wrapper form-wrapper">
    <div class="main-title">Datos del asegurado</div>
    <div layout="column">
        <!-- GÉNERO -->
        <div layout="row" class="form-row">
            <div flex="50" layout="column">
                <div class="md-label-selector">Género</div>  
                <div layout="row">
                    <md-button 
                        class="md-button-selector" 
                        ng-class="{'active': vm.asegurado.sexo.id === sexo.id}"
                        ng-click="vm.asegurado.sexo = sexo" 
                        ng-repeat="sexo in vm.form.generos"
                        >{{sexo.valor | humanize}}</md-button>
                </div>
            </div>
            <div flex="5"></div>
            <div flex="50"></div>
        </div>
        <!-- NOMBRE -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <md-input-line placeholder="Nombres">
                    <input input-uppercase name="nombre" ng-model="vm.asegurado.nombre" type="text" required />
                </md-input-line>
            </div>
            <div flex="5"></div>
            <div flex="50"></div>
        </div>
        <!-- APELLIDOS -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <div flex="50">
                    <md-input-line placeholder="Primer Apellido">
                        <input input-uppercase name="primerApellido" ng-model="vm.asegurado.primerApellido" type="text" required />
                    </md-input-line>
                </div>
                <div flex="5"></div>
                <div flex="50">
                    <md-input-line placeholder="Segundo Apellido">
                        <input input-uppercase name="segundoApellido" ng-model="vm.asegurado.segundoApellido" type="text" required />
                    </md-input-line>
                </div>
            </div>
            <div flex="5"></div>
            <div flex="50"></div>
        </div>
        <!-- FECHA DE NACIMIENTO -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <!-- DIA -->
                <div flex="25">
                    <md-input-line placeholder="Día (DD)">
                        <input name="dia" ng-model="vm.asegurado.nacimiento.dia" type="text" required />
                    </md-input-line>
                </div>
                <div flex="5"></div>
                <!-- MES -->
                <div flex="25">
                    <md-input-line placeholder="Mes (MM)">
                        <input name="mes" ng-model="vm.asegurado.nacimiento.mes" type="text" required />
                    </md-input-line>
                </div>
                <div flex="5"></div>
                <!-- AÑO -->
                <div flex="100">
                    <md-input-line placeholder="Año (AAAA)">
                        <input name="anio" ng-model="vm.asegurado.nacimiento.ano" type="text" required />
                    </md-input-line>
                </div>
            </div>
            <div flex="5"></div>
            <div flex="50">
                <div class="form-description padding-top-0">
                    <div class="title">Fecha de nacimiento</div>
                    <div class="description">Ingresa tu fecha de nacimiento (30-06-1980).</div>
                </div>
            </div>
        </div>
        <!-- PAÍS -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <md-select-custom loading="vm.form.loadingPaises" placeholder="País de nacimiento" ng-value="vm.asegurado.pais.valor">
                    <md-select name="pais" ng-model="vm.asegurado.pais" ng-required="!vm.asegurado.pais">
                        <md-option ng-value="pais" ng-repeat="pais in vm.form.paises">{{ pais.valor }}</md-option>                                        
                    </md-select>
                </md-select-custom>
            </div>
        </div>
        <!-- NACIONALIDAD -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <md-select-custom loading="vm.form.loadingNacionalidades" placeholder="Nacionalidad" ng-value="vm.asegurado.nacionalidad.valor">
                    <md-select name="nacionalidad" ng-model="vm.asegurado.nacionalidad" ng-required="!vm.asegurado.nacionalidad">
                        <md-option ng-value="nacionalidad" ng-repeat="nacionalidad in vm.form.nacionalidades">{{ nacionalidad.valor }}</md-option>                                        
                    </md-select>
                </md-select-custom>
            </div>
        </div>
        <!-- CORREO ELECTRÓNICO -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <md-input-line placeholder="Correo electrónico">
                    <input name="email" ng-model="vm.asegurado.email" type="email" required />
                </md-input-line>
            </div>
            <div flex="5"></div>
            <div flex="50">
                <div class="form-description padding-top-0">
                    <div class="title">Información de contacto</div>
                    <div class="description">Tu información privada es 100% confidencial.</div>
                </div>
            </div>
        </div>
        <!-- TELÉFONO CELULAR -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <md-input-line placeholder="Teléfono Celular">
                    <input name="fonoMovil" input-phone ng-model="vm.asegurado.fonoMovil" maxlength="11" type="fonoMovil" required />
                </md-input-line>
            </div>
            <div flex="5"></div>
            <div flex="50">
                <div class="form-description padding-top-0">
                    <div class="title">Teléfono celular</div>
                    <div class="description">Ingresa el prefijo de tu compañía de celular y número telefónico. Por ejemplo: 311-XXXXXXX.</div>
                </div>
            </div>
        </div>
        <!-- TELÉFONO FIJO -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <md-input-line placeholder="Teléfono fijo (Opcional)">
                    <input name="fonoFijo" input-phone-fixed ng-model="vm.asegurado.fonoFijo" type="fonoFijo" />
                </md-input-line>
            </div>
            <div flex="5"></div>
            <div flex="50">
                <div class="form-description padding-top-0">
                    <div class="title">Teléfono fijo (Opcional)</div>
                    <div class="description">Ingresa el indicativo de tu ciudad y número telefónico. Por ejemplo: 1-5878787 para Bogotá.</div>
                </div>
            </div>
        </div>
        <!-- CHECKBOX POLÍTICAS -->
        <div class="form-row margin-top-2rem" layout="row">
            <div class="terminos-form">
                <md-checkbox name="politicas" class="checkbox-seguros" ng-model="vm.asegurado.politicas" md-no-ink aria-label="Finished?" required></md-checkbox>
                He leído y acepto el 
                <a ng-href="{{'tratamiento_de_informacion' | url}}" target="_blank" >Tratamiento de datos personales</a>
                y
                <a ng-href="{{'politicas_datos_personales' | url}}" target="_blank">políticas de datos</a>
                de la Agencia de Seguros Falabella
            </div>
        </div>
        <!-- CONTINUAR -->
        <div layout="row" class="form-row">
            <div flex="100" class="text-right">
                <md-button ng-disabled="asegurado.$invalid" class="md-seguros md-raised" ng-click="vm.doCotizar($event)">Continuar</md-button>
            </div>
        </div>
    </div>
</form>    