html {
	height: 100%;
	body {
		height: auto !important;
		background: $bgcolor !important;
		font-family: sans-serif !important;
		.md-dialog-backdrop {
			background: rgb(61, 80, 90) !important;
			&.md-opaque {
				opacity: .8;
			}
		}
		* {
			-webkit-font-smoothing: subpixel-antialiased !important;
		}
		.layout-center {
			width: 100%;
			max-width: 1440px;
			margin: 0 auto;
			padding: 0 32px;
		}
		.section-wrapper {
			border: 1px solid $borderColor;
			margin-bottom: 1rem;
			padding: 10px;
			border-radius: 10px;
			min-height: 2rem;
			background: $white;
		}
		.padding-top-0 {
			padding-top: 0 !important;
		}
		.margin-top-1rem {
			margin-top: 1rem;
		}
		.margin-top-2rem {
			margin-top: 2rem;
		}
		.margin-left-2rem {
			margin-left: 2rem;
		}
		.spinner {
			height: 20px;
			width: 20px;
			margin: 0 auto;
			font-size: 10px;
			position: relative;
			text-indent: -9999em;
			border-top: 3px solid rgba(0, 0, 0, .08);
			border-right: 3px solid rgba(0, 0, 0, .08);
			border-bottom: 3px solid rgba(0, 0, 0, .08);
			border-left: 3px solid #4fceab;
			border-radius: 50%;
			animation: rotate 1.1s infinite linear;
			&.big-spinner {
				height: 40px;
				width: 40px;
				border-top: 5px solid rgba(0, 0, 0, .08);
				border-right: 5px solid rgba(0, 0, 0, .08);
				border-bottom: 5px solid rgba(0, 0, 0, .08);
				border-left: 5px solid #4fceab;
			}
		}
		.md-seguros {
			margin: 0;
			border-radius: 0;
			box-shadow: none !important;
			text-transform: none;
			font-weight: 300;
			min-height: 40px;
			padding: 0 15px;
			line-height: 40px;
			font-size: 16px;
			border: 1px solid $greenSeguros !important;
			color: $greenSeguros !important;
			&.md-raised {
				background-color: $greenSeguros !important;
				color: white !important;
				&.md-seguros-big {
					min-width: 250px;
				}
				&:disabled {
					background-color: white !important;
					color: $greenSeguros !important;
					border: 1px solid $greenSeguros !important;
				}
			}
		}
		.md-warning {
			margin: 0;
			border-radius: 0;
			box-shadow: none !important;
			text-transform: none;
			font-weight: 300;
			min-height: 40px;
			padding: 0 15px;
			line-height: 40px;
			font-size: 16px;
			border: 1px solid $yellow !important;
			color: $yellow !important;
			&.md-raised {
				background-color: $yellow !important;
				color: white !important;
				&.md-seguros-big {
					min-width: 250px;
				}
				&:disabled {
					background-color: white !important;
					color: $yellow !important;
					border: 1px solid $yellow !important;
				}
			}
		}
		.md-label-selector {
			color: $grayDark;
			font-size: 15px;
			margin-bottom: 1rem;
		}
		.md-button-selector {
			margin: 0;
			background-color: white !important;
			color: $greenSeguros !important;
			border: 1px solid $greenSeguros !important;
			border-radius: 0;
			box-shadow: none !important;
			text-transform: none;
			font-weight: 300;
			// min-width: 250px;
			height: 40px;
			min-height: 40px;
			padding: 0 15px;
			line-height: 40px;
			font-size: 16px;
			&:not(:first-child) {
				margin-left: 2rem;
			}
			&.active {
				color: white !important;
				background-color: $greenSeguros !important;
				border: 1px solid $greenSeguros !important;
			}
		}
		.pointer {
			cursor: pointer;
		}
		.text-green-seguros {
			color: $greenSeguros;
		}
		.text-left {
			text-align: left;
		}
		.text-right {
			text-align: right;
		}
		.text-center {
			text-align: center;
		}
		md-checkbox.checkbox-seguros {
			&.md-checked {
				.md-container {
					.md-icon {
						background: white !important;
						border-color: $greenSeguros !important;
						&:after {
							border-color: $greenSeguros;
						}
					}
				}
			}
			.md-container {
				width: 30px;
				height: 30px;
				.md-icon {
					width: 30px;
					height: 30px;
					&:after {
						width: 8px;
						height: 15px;
						top: 50%;
						left: 50%;
						border-width: 2px;
						transform: translateX(-50%) translateY(-60%)
							rotate(45deg);
					}
				}
			}
			.md-label {
				margin-left: 2.75rem;
			}
		}
	}
	.simple-layout {
		header {
			margin-bottom: -1px;
			position: fixed;
			top: 0;
			z-index: 250;
			width: 100%;
		}
		.layout-center {
			width: 100% !important;
			max-width: 100% !important;
			padding: 65px 0 0 !important;
		}
	}
	header {
		display: flex;
		height: 65px;
		background: $white;
		margin-bottom: 1rem;
		overflow: hidden;
		position: relative;
		@include shadow();
		* {
			user-select: none;
		}
		.logo {
			@include position(absolute);
			width: auto;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			display: inline-block;
			text-align: center;
			pointer-events: none;
			img {
				@include position(relative, 50% null null);
				height: 42px;
			}
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	to {
		transform: rotate(1turn);
	}
}
