widget-publicidad {
	* {
		user-select: none;
	}
	img {
		max-width: 100%;
		pointer-events: none;
	}
	.terminos {
		text-align: center;
		a {
			padding: 1rem 0;
			display: block;
			color: $greenSeguros;
			text-decoration: none !important;
		}
	}
}
