<div class="detail">
    <div class="main">Datos de tu compra</div>
    <div class="company">
        <img ng-src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/{{$ctrl.plan.compania.alias.toLowerCase()}}.png" alt="">
    </div>
    <div class="section" ng-if="$ctrl.vehiculo">
        <div class="name">Tu vehículo</div>
        <div class="value">{{$ctrl.vehiculo}}</div>
    </div>
    <div class="section inline" ng-if="$ctrl.plan.month">
        <div class="name">Prima mensual</div>
        <div class="value">{{$ctrl.plan.month | price}}</div>
    </div>
    <div class="section inline-big" ng-if="$ctrl.plan.annual">
        <div class="name">Prima anual</div>
        <div class="value">{{$ctrl.plan.annual | price}}</div>
    </div>
    <div class="button">Modifica tu compra <i class="material-icons">&#xE315;</i></div>
    <div class="promo">
        <img ng-src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/campaign/banner-step-3.jpg" alt="">
    </div>
</div>