widget-detalle-plan {
	* {
		user-select: none;
		// font-weight: 300;
	}
	img {
		pointer-events: none;
	}
	.company {
		margin-bottom: 1rem;
		img {
			max-width: 168px;
		}
	}
	.detail {
		.main {
			color: $greenSeguros;
			margin: 1.75rem 0 1.25rem;
			font-size: 1.25rem;
		}
		.section {
			.name {
				color: $gray;
				font-size: .9rem;
				margin-bottom: .5rem;
			}
			.value {
				font-size: .95rem;
				margin-bottom: .75rem;
			}
			&.inline {
				display: flex;
				flex-direction: row;
				.name {
					width: 30%;
				}
				.value {
					color: $gray;
				}
			}
			&.inline-big {
				display: flex;
				flex-direction: row;
				align-items: center;
				.name {
					width: 30%;
				}
				.value {
					color: $black;
					font-size: 21px;
				}
			}
		}
		.button {
			cursor: pointer;
			margin-top: 1.5rem;
			color: $green;
			position: relative;
			i {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.promo {
			margin-top: 1rem;
			img {
				border-radius: 0.25rem;
				overflow: hidden;
				max-width: 100%;
			}
		}
	}
}
