<div layout="column" class="margin-top-1rem">
    <div layout="row" ng-show="!vm.loading">
        <widgets ng-widgets="vm.widgets" flex="25"></widgets>
        <content class="margin-left-2rem" flex="75">
            <ui-view name="cotiza"></ui-view>
            <div ng-show="vm.step >= 2">
                <ui-view name="vehiculo"></ui-view>
            </div>
            <div ng-show="vm.step >= 3">
                <ui-view name="asegurado"></ui-view>
            </div>
        </content>
    </div>
    <div layout="column" ng-show="vm.loading">
        <loading show="true" message="Buscando los mejores seguros para ti..."></loading>
    </div>
</div>