<md-dialog class="assistance-dialog">
    <md-dialog-content>
        <h1>¿Cuáles son nuestras asistencias?</h1>
        <div class="list">
            <div class="item">
                <div class="icon">
                    <div class="image">
                        <img src="assets/conductor-activo.svg" />
                    </div>
                    <span>Conductor elegido</span>
                </div>
                <div class="info">
                    Si tienes tu carro y has tomado bebidas alcohólicas esta asistencia te dará la posibilidad de solicitar un conductor para que te lleve a casa y así evitar inconvenientes con las autoridades. Recuerda consultar en los términos y condiciones de tu póliza, cuanto es el tiempo con el que debes solicitar al conductor.
                </div>
            </div>
            <div class="item">
                <div class="icon">
                    <div class="image">
                            <img src="assets/grua-activo.svg" />
                    </div>
                    <span>Grúa</span>
                </div>
                <div class="info">
                    En caso que tu carro sufra una avería o accidente, utiliza esta asistencia para solicitar traslado ya sea a tu casa o a un taller el cual sería asignado por la aseguradora.
                </div>
            </div>
            <div class="item">
                <div class="icon">
                    <div class="image">
                        <img src="assets/vehiculo-activo.svg" />
                    </div>
                    <span>Vehículo de reemplazo</span>
                </div>
                <div class="info">
                    Si tu carro se ve afectado por una pérdida parcial o total ya sea por daño o hurto, esta asistencia te dará la posibilidad de solicitar un carro de reemplazo que podrás utilizar por los días o kilometraje que estipule la compañía.
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>