
<div class="head">
    <div class="company">
        <img ng-src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/{{$ctrl.plan.compania.alias.toLowerCase()}}.png" alt="">
    </div>
    <div class="rce">
        <div class="info">RCE hasta <i class="material-icons" ng-click="$ctrl.rceModal($event)">&#xE887;</i></div>
        <div class="price">{{$ctrl.rce | price}}<span class="unit">mm</span></div>
    </div>
</div>
<div class="price">
    <div class="month">
        {{$ctrl.price.month | price}}<span class="unit">/ mes</span>
    </div>
    <div class="annual">
        {{$ctrl.price.annual | price}}<span class="unit">/ año</span>
    </div>
</div>
<div class="assistance">
    <div class="title">Asistencias <i class="material-icons" ng-click="$ctrl.assistance($event)">&#xE887;</i></div>
    <div class="list">
        <div class="item" ng-repeat="detail in $ctrl.details track by detail.name">
            <span class="check" ng-if="detail.value"><i class="material-icons">&#xE5CA;</i></span>
            <span class="check uncheck" ng-if="!detail.value"><i class="material-icons">&#xE5CD;</i></span>
            {{detail.name}}
        </div>
    </div>
</div>
<div class="deductible">
    <div class="title">Deducibles</div>
    <div class="list">
        <div class="item" ng-repeat="deductible in $ctrl.deductibles">
            <div class="span">{{deductible.name}}</div>
            <div class="span" alt="{{deductible.value}}">{{deductible.value}}</div>
        </div>
    </div>
</div>
<div class="benefits" ng-click="$ctrl.benefits($event)">Ver beneficios y coberturas</div>
<div class="actions">
    <md-button ng-click="$ctrl.otrasTarjetas()" class="md-seguros md-raised" ng-if="$ctrl.plan.flow === 2">Comprar</md-button>
    <md-button ng-click="$ctrl.pagarCMR()" class="md-seguros md-raised" ng-if="$ctrl.plan.flow === 3 || $ctrl.plan.flow === 4">Pagar con CMR</md-button>
    <md-button ng-click="$ctrl.otrasTarjetas()" class="md-seguros-link" ng-if="$ctrl.plan.flow === 3">Pagar con otras tarjetas <i class="material-icons">&#xE5CC;</i></md-button>    
    <md-button ng-click="$ctrl.llamar()" class="md-seguros md-seguros-border md-raised" ng-if="$ctrl.plan.flow === 1">Te llamamos</md-button>
</div>