matriz {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-left: -0.35rem;
	margin-right: -0.35rem;
	caluga-loading {
		display: block;
		width: 32%;
		min-height: 10rem;
		border: 1px solid $borderColor;
		margin-bottom: 1rem;
		padding: 10px 20px;
		border-radius: 10px;
		background: $white;
		margin-left: 0.35rem;
		margin-right: 0.35rem;
		loading {
			margin-top: 130px;
		}
		.caluga-message {
			margin-bottom: 145px;
			text-align: center;
			margin-top: 20px;
			color: $gray;
		}
		.message {
			color: $green;
		}
	}
	caluga {
		display: block;
		width: 32%;
		min-height: 10rem;
		border: 1px solid $borderColor;
		margin-bottom: 1rem;
		padding: 10px 20px;
		border-radius: 10px;
		background: $white;
		margin-left: 0.35rem;
		margin-right: 0.35rem;
		* {
			font-weight: 300;
			user-select: none;
		}
		.head {
			display: flex;
			.company {
				flex: 1;
				padding-top: .25rem;
				img {
					max-width: 80px;
					filter: grayscale(1);
				}
			}
			.rce {
				text-align: right;
				flex: 1;
				.info {
					color: $black;
					font-size: 0.8rem;
					line-height: 1rem;
					i {
						color: $gray;
						font-size: 1rem;
						position: relative;
						top: 0.25rem;
						cursor: pointer;
					}
				}
				.price {
					text-align: right;
					color: $green;
					font-size: 1.25rem;
					margin: 0.25rem 0 0;
					.unit {
						color: $green;
						text-transform: uppercase;
					}
				}
			}
		}
		.price {
			text-align: center;
			font-weight: lighter;
			margin: 1rem 0 1rem;
			.unit {
				font-size: .85rem;
				padding-left: .25rem;
				color: $gray;
			}
			.month {
				font-size: 1.5rem;
				color: $greenSeguros;
				margin-bottom: 0.25rem;
				.unit {
					color: $grayDark;
				}
			}
			.annual {
				color: $gray;
			}
		}
		.assistance {
			.title {
				text-align: center;
				font-size: .9rem;
				color: $black;
				margin-bottom: 0.5rem;
				i {
					color: $gray !important;
					font-size: .8rem;
					position: relative;
					padding-top: 0.25rem;
					cursor: pointer;
				}
			}
			.list {
				margin-bottom: 0.75rem;
				.item {
					line-height: 1rem;
					display: flex;
					flex-direction: row;
					border-bottom: 1px solid $borderLightColor;
					font-size: 0.9rem;
					padding: 0.35rem 0;
					color: $gray;
					.check {
						padding-right: .5rem;
						color: $green;
						i {
							font-size: 1rem;
						}
					}
					.uncheck {
						color: $gray !important;
					}
				}
			}
		}
		.deductible {
			margin-bottom: 1rem;
			.title {
				text-align: center;
				font-size: .9rem;
				color: $black;
				margin-bottom: 0.5rem;
			}
			.item {
				line-height: 1rem;
				display: flex;
				flex-direction: row;
				border-bottom: 1px solid $borderLightColor;
				font-size: 0.85rem;
				padding: 0.35rem 0;
				color: $gray;
				.span {
					display: block;
					flex: 1;
					max-width: 50%;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					&:last-child {
						text-align: right;
					}
				}
			}
		}
		.benefits {
			font-size: .9rem;
			color: $grayDark;
			text-align: center;
			margin-bottom: 1rem;
			cursor: pointer;
		}
		.actions {
			.md-seguros-border {
				color: $greenSeguros !important;
				border: 1px solid $greenSeguros !important;
				background: white !important;
			}
			.md-seguros {
				width: 100%;
				font-size: .9rem;
				min-height: 34px;
				line-height: 34px;
				&:not(:last-child) {
					margin-bottom: 0.25rem;
				}
			}
			.md-seguros-link {
				color: $greenSeguros;
				margin: 0;
				border-radius: 0;
				box-shadow: none !important;
				text-transform: none;
				font-weight: 300;
				min-height: 40px;
				padding: 0 15px;
				line-height: 40px;
				font-size: 16px;
				width: 100%;
				font-size: .9rem;
				min-height: 34px;
				line-height: 34px;
				i {
					transform: translateY(25%);
				}
			}
		}
	}
}
/* DIALOG */
.rce-dialog {
	max-width: 600px;
	padding: 2rem;
	* {
		color: $gray !important;
		text-align: center;
		line-height: 1.4rem;
	}
}

.assistance-dialog {
	width: 100%;
	max-width: 900px;
	padding: 2rem 1rem 1rem;
	* {
		font-weight: 300;
	}
	h1 {
		text-align: center;
		margin-bottom: 2rem;
	}
	.list {
		padding: 0 2rem;
		.item {
			display: flex;
			flex-direction: row;
			color: $gray !important;
			margin-bottom: 2rem;
			.icon {
				width: 120px;
				display: flex;
				flex-direction: column;
				text-align: center;
				.image {
					width: 75px;
					height: 75px;
					background: $green;
					border-radius: 75px;
					display: block;
					margin: 0 auto;
					position: relative;
					img {
						position: absolute;
						-webkit-filter: grayscale(100%) brightness(200%) !important;
						filter: grayscale(100%) brightness(200%) !important;
						max-width: 50px;
						max-height: 50px;
						top: 50%;
						left: 50%;
						transform: translateX(-50%) translateY(-50%);
					}
				}
				span {
					margin-top: 0.5rem;
					font-size: 0.75rem;
				}
			}
			.info {
				padding-left: 2rem;
				flex: 1;
				line-height: 1.25rem;
				font-size: .9rem;
			}
		}
	}
}

.benefits-dialog {
	width: 100%;
	max-width: 600px;
	padding: 2rem;
	position: relative;
	display: flex;
	flex-direction: column;
	* {
		font-weight: 300;
	}
	.fixed {
		flex: 1;
		position: fixed;
		background: white;
		z-index: 10;
		width: 100%;
		left: 0;
		padding: 0 2rem;
	}
	.content {
		padding-top: 9rem;
		padding-bottom: 2rem;
	}
	.header {
		display: flex;
		flex-direction: row;
		padding-bottom: .75rem;
		border-bottom: 1px solid $borderLightColor;
		font-size: .9rem;
		.quote {
			flex: 1;
			text-align: left;
			color: $gray;
			span:last-child {
				&::before {
					content: '•';
					margin-right: 1rem;
					margin-left: 0.75rem;
				}
			}
		}
		.validate {
			flex: 1;
			text-align: right;
			color: $gray;
			span:last-child {
				&::before {
					content: '•';
					margin-right: 1rem;
					margin-left: 0.75rem;
				}
			}
		}
	}
	.actions {
		display: flex;
		flex-direction: row;
		margin-top: 1rem;
		border-bottom: 1px solid $borderLightColor;
		padding-bottom: .75rem;
		.company {
			width: 130px;
			img {
				max-width: 100%;
			}
		}
		.price {
			flex: 1;
			text-align: center;
			.month {
				font-size: 2rem;
				color: $greenSeguros;
				.unit {
					font-size: 1rem;
					padding-left: 0.25rem;
					color: $black;
				}
			}
			.annual {
				font-size: 1rem;
				margin-top: 0.25rem;
				color: $gray;
				.unit {
					color: $black;
					font-size: 0.8rem;
				}
			}
		}
		.action {
			width: 170px;
			button {
				width: 100% !important;
				font-size: 14px !important;
				min-height: 35px;
				height: 35px;
				line-height: 35px;
				&:not(:last-child) {
					margin-bottom: 0.25rem;
				}
			}
			.md-seguros-link {
				color: $greenSeguros;
				margin: 0;
				border-radius: 0;
				box-shadow: none !important;
				text-transform: none;
				font-weight: 300;
				min-height: 40px;
				padding: 0 15px;
				line-height: 40px;
				font-size: 16px;
				width: 100%;
				font-size: .9rem;
				min-height: 34px;
				line-height: 34px;
				i {
					transform: translateY(25%);
				}
			}
			.md-seguros-border {
				color: $greenSeguros !important;
				border: 1px solid $greenSeguros !important;
				background: white !important;
			}
		}
	}
	.benefits,
	.coverage {
		.title {
			text-align: center;
			font-size: 1.25rem;
			margin-bottom: 1rem;
			color: $gray;
		}
		.list {
			margin-bottom: 1rem;
			.item {
				display: flex;
				padding: 0.5rem 0 0.25rem;
				border-bottom: 1px solid $borderLightColor;
				line-height: 1.5rem;
				.info {
					flex: 1;
					font-size: 0.9rem;
				}
				.value {
					text-align: center;
					width: 180px;
					font-size: 0.8rem;
					text-transform: uppercase;
					color: $green;
				}
			}
		}
	}
	.additional {
		.title {
			font-size: 1.25rem;
			margin-bottom: 1rem;
			color: $gray;
			position: relative;
			.close {
				position: absolute;
				top: 0;
				right: 1rem;
				cursor: pointer;
				transition: all 250ms;
				outline: none;
				&.closed {
					transform: rotateZ(45deg);
				}
			}
		}
		.coverage-content {
			padding-left: 2rem;
			transition: height 0.35s ease;
			&.ng-hide {
				height: 0;
				overflow: hidden;
				position: relative;
			}
			&:not(.ng-hide) {
				height: 100px;
			}
			&.ng-hide-remove,
			&.ng-hide-add {
				display: block !important;
			}

			&.ng-hide-add {
				animation-name: hide;
				-webkit-animation-name: hide;

				animation-duration: .5s;
				-webkit-animation-duration: .5s;

				animation-timing-function: ease-in;
				-webkit-animation-timing-function: ease-in;
			}
			&.ng-hide-remove {
				animation-name: show;
				-webkit-animation-name: show;

				animation-duration: .5s;
				-webkit-animation-duration: .5s;

				animation-timing-function: ease-out;
				-webkit-animation-timing-function: ease-out;
			}
			.list {
				margin-bottom: 1rem;
				.title {
					font-size: 1rem;
					margin-bottom: 1rem;
					color: $black;
					position: relative;
				}
				.item {
					margin-left: .5rem;
					font-size: .9rem;
					padding: .25rem 0 .25rem 1rem;
					color: $gray;
					position: relative;
					&::before {
						position: absolute;
						content: "•";
						left: 0;
						color: $green;
						padding-right: .75rem;
					}
				}
			}
		}
	}
}
