<div layout="column" ng-show="vm.loading" class="margin-top-1rem">
    <loading show="true" message="Buscando los mejores seguros para ti..."></loading>
</div>
<div layout="column" ng-show="!vm.loading" class="margin-top-1rem">
    <div layout="row">
        <widgets ng-widgets="vm.widgets" flex="30"></widgets>
        <content class="margin-left-2rem" flex="70">
            <formulario configuration="vm.formularioConfg"></formulario>
        </content>
    </div>
</div>