<div class="md-dialog-ayuda-referencia">
    <md-dialog>
        <div class="title">Encuentra más fácil la refencia de tu carro</div>
        <div class="wrapper">
            <div class="referencia">
                <div class="code">AA</div>
                <div class="name">Aire acondicionado</div>
            </div>
            <div class="referencia">
                <div class="code">AB</div>
                <div class="name">Airbag</div>
            </div>
            <div class="referencia">
                <div class="code">AT</div>
                <div class="name">Automático</div>
            </div>
            <div class="referencia">
                <div class="code">CC</div>
                <div class="name">Centímetros cúbicos</div>
            </div>
            <div class="referencia">
                <div class="code">CT</div>
                <div class="name">Sunroof</div>
            </div>
            <div class="referencia">
                <div class="code">DH</div>
                <div class="name">Dirección hidráulica</div>
            </div>
            <div class="referencia">
                <div class="code">MT</div>
                <div class="name">Mecánico</div>
            </div>
            <div class="referencia">
                <div class="code">SA</div>
                <div class="name">Sin aire acondicionado</div>
            </div>
            <div class="referencia">
                <div class="code">TD</div>
                <div class="name">Turbo diesel</div>
            </div>
            <div class="referencia">
                <div class="code">TR</div>
                <div class="name">Tiptrónica</div>
            </div>
        </div>
        <div class="close-wrapper">
            <md-button class="md-seguros" ng-click="close($event)">Cerrar</md-button>
        </div>
    </md-dialog>
</div>