.md-dialog-ayuda-referencia {
	md-dialog {
		min-width: 25rem;
		padding: 2rem 3rem;
	}
	.title {
		text-align: center;
		margin-bottom: 2rem;
		color: $grayDark;
	}
	.wrapper {
		border: 1px solid $borderColor;
		border-radius: 0.5rem;
		padding: 0.5rem 1.5rem;
		.referencia {
			display: flex;
			padding-bottom: 0.25rem;
			.code {
				width: 35px;
				height: 35px;
				line-height: 32px;
				border: 2px solid $green;
				border-radius: 35px;
				text-align: center;
				font-weight: bolder;
				font-size: 14px;
				color: $green;
			}
			.name {
				padding-left: .5rem;
				height: 35px;
				line-height: 35px;
				font-size: .9rem;
			}
		}
	}
	.close-wrapper {
		padding-top: 1rem;
		text-align: center;
	}
}
