<div>
    <div layout="row" class="form-row">
        <div flex="50" layout="row">
            <!-- TEXTBOX -->
            <md-input-line ng-if="$field.tipocampo === 'TEXTBOX' && $field.name" placeholder="{{$field.etiqueta}}">
                <input name="{{$field.name}}" regexp="field.regex" ng-model="fields[$field.name]" type="text" required="{{field.obligatorio}}" />
            </md-input-line>
            <!-- COMBOBOX -->
            <md-select-custom ng-if="$field.tipocampo === 'COMBOBOX' && $field.name" loading="loading" placeholder="{{$field.etiqueta}}" ng-value="fields[$field.name].valor">
                <md-select ng-if="$field.obligatorio" name="{{$field.name}}" ng-model="fields[$field.name]" required="required">
                    <md-option ng-value="option" ng-repeat="option in options">{{ option.valor }}</md-option>                                        
                </md-select>
                <md-select ng-if="!$field.obligatorio" name="{{$field.name}}" ng-model="fields[$field.name]" required="required">
                    <md-option ng-value="option" ng-repeat="option in options">{{ option.valor }}</md-option>                                        
                </md-select>
            </md-select-custom>
        </div>
    </div>
</div>