<form name="form" class="section-wrapper" ng-repeat="formulario in $ctrl.formulario" >
    <div class="title">{{ formulario.title }} <div class="action" ng-show="$ctrl.formActivo !== formulario.formularioid && $ctrl.formActivo > formulario.formularioid"><a ng-click="$ctrl.editForm(formulario)">Editar <i class="material-icons">&#xE254;</i></a></div></div>
    <div class="content" ng-show="$ctrl.formActivo === formulario.formularioid">
        <div class="campos">
            <div class="campo" ng-repeat="campo in formulario.campos">
                <field config="campo"></field>
            </div>
        </div>
        <div class="action">
            <md-button ng-click="$ctrl.submitForm(formulario, form)" ng-disabled="form.$invalid" class="md-raised md-seguros">Continuar</md-button>
        </div>
    </div>
</form>