formulario {
	.section-wrapper {
		padding: 1.5rem !important;
	}
	.title {
		font-size: 21px;
		line-height: 27px;
		position: relative;
		.action {
			// display: none;
			position: absolute;
			top: 0;
			right: 1rem;
			cursor: pointer;
			font-size: 1rem;
			a {
				// line-height: 3rem;
				color: $green;
				text-decoration: none;
				i {
					position: relative;
					font-size: 1rem !important;
					top: 0.2rem;
				}
			}
		}
	}
	.content {
		padding-top: 1rem;
	}
	.form-row {
		margin-bottom: 1.5rem;
		.form-description {
			font-size: 15px;
			padding-top: 1.5rem;
			* {
				user-select: none;
			}
			.title {
				color: $green;
				margin-bottom: 0.4rem;
			}
			.description {
				font-weight: 300;
				line-height: 1.5rem;
				color: $grayDark;
			}
		}
	}
	.action {
		text-align: right;
	}
}
