<div class="simple-layout">
    <header>
        <div class="logo">
            <img src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/logo.png" alt="">
            <div class="line"></div>
        </div>
    </header>
    <div class="layout-center">
        <ui-view></ui-view>
    </div>
</div>