<div layout="column" ng-show="vm.loading" class="margin-top-1rem">
    <loading show="true" message="Buscando los mejores seguros para ti..."></loading>
</div>
<div layout="column" ng-show="!vm.loading" class="margin-top-1rem">
    <div layout="row">
        <widgets ng-widgets="vm.widgets" flex="30"></widgets>
        <content class="margin-left-2rem" flex="70">
            <div class="header-matrix section-wrapper">
                <div class="detail">
                    <div class="logo">
                        <img src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/icon-money.png" alt="">
                    </div>
                    <div class="info">
                        <div class="txt">Coberturas y beneficios al mejor precio</div>
                    </div>
                </div>
                <div class="detail">
                    <div class="logo">
                        <img src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/icon-mail.png" alt="">
                    </div>
                    <div class="info">
                        <div class="txt">
                            La póliza en tu correo electrónico en minutos
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <div class="logo">
                        <img src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/icon-credit.png" alt="">
                    </div>
                    <div class="info">
                        <div class="txt">
                            Paga con tu medio de pago preferido
                        </div>
                    </div>
                </div>
            </div>
            <matriz></matriz>
        </content>
    </div>
</div>