<form name="datos" class="section-wrapper form-wrapper" ng-class="{'section-minimized': vm.hideStep}">
    <div class="main-title">Cotiza tu auto o moto, fácil y rápido</div>
    <div class="edit-button"><a ng-click="vm.toHideStep()">Editar <i class="material-icons">&#xE254;</i></a></div>
    <div layout="column">
        <!-- PLACA -->
        <div layout="row" class="form-row">
            <div flex="50">
                <md-input-bordered placeholder="Ingresa tu placa">
                    <input input-uppercase name="placa" minlength="6" ng-pattern="/(^[A-Za-z]{1,3}[0-9]{0,3}[A-Za-z0-9]{0,1})$/" maxlength="6" ng-model="vm.asegurado.placa" type="text" />
                </md-input-bordered>
            </div>
            <div flex="5"></div>
            <div flex="50">
                <div class="form-description">
                    <div class="title">¿Tu vehículo no tiene placa?</div>
                    <div class="description">Omite este campo.</div>
                </div>
            </div>
        </div>
        <!-- TIPO DOCUMENTO / Nro DOCUMENTO -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <div flex="35" ng-show="showTipoDocumento">
                    <md-select-custom loading="vm.form.loading" placeholder="Tipo de documento" ng-value="vm.asegurado.tipoDocumento.valor">
                        <md-select ng-model="vm.asegurado.tipoDocumento" required>
                            <md-option ng-value="tipoDocumento" ng-repeat="tipoDocumento in vm.form.tiposDocumento">{{ tipoDocumento.valor }}</md-option>                                        
                        </md-select>
                    </md-select-custom>
                </div>
                <div flex="5" ng-if="showTipoDocumento"></div>
                <div flex="{{showTipoDocumento ? 60 : 100}}">
                    <md-input-bordered loading="vm.form.loading" placeholder="Ingresa tu cédula de ciudadanía">
                        <input input-number name="dni" maxlength="13" ng-model="vm.asegurado.dni" type="text" required />
                    </md-input-bordered>
                </div>
            </div>
            <div flex="5"></div>
            <div flex="50">
                <div class="form-description">
                    <div class="title">¿Eres extranjero o empresa?</div>
                    <div class="description">Haz click <a class="text-green-seguros pointer" ng-click="showTipoDocumento = true">aquí</a></div>
                </div>
            </div>
        </div>
        <!-- CONTINUAR / FORMAS PAGO -->
        <div layout="row" class="form-row margin-top-1rem">
            <div flex="50">
                <md-button ng-disabled="datos.$invalid" class="md-seguros md-seguros-big md-raised" ng-click="vm.getCotizarPlaca($event)">Continuar</md-button>
            </div>
            <div flex="5" layout="row"></div>
            <div class="form-formas-pagos" flex="50" layout="row">
                <div class="title">Revisa las formas y facilidades de pago <a ng-click="vm.showFormasPago($event)" class="text-green-seguros pointer">aquí</a></div>
                <div class="formas-imagen">
                    <img ng-src="{{'medios-pago.png' | imageUrl}}" alt="">
                </div>
            </div>
        </div>
    </div>
</form>