<div class="logo">
    <img src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/logo.png" alt="">
    <div class="line"></div>
</div>
<div class="steps-wrapper">
    <div class="step" ng-click="$ctrl.changeStep(step)" 
        md-ink-ripple ng-class="{'active': $ctrl.step >= step.weight}" 
        ng-repeat="step in $ctrl.steps | orderBy: 'weight'" >
        <div class="number"><span>{{step.weight}}</span></div>
        <div class="info">
            <div class="center-height">
                <div class="title">{{step.title}}</div>
                <div class="description">{{step.description}}</div>
            </div>
        </div>
    </div>
    <div class="line" ng-style="{'width': (100/$ctrl.steps.length)*$ctrl.step + '%'}"></div>
</div>