$size_line: 3px;

steps-wizard {
	display: flex;
	height: 65px;
	background: $white;
	margin-bottom: 1rem;
	overflow: hidden;
	@include shadow();
	* {
		user-select: none;
	}
	.logo {
		@include position(relative);
		width: 30%;
		display: inline-block;
		text-align: center;
		pointer-events: none;
		img {
			@include position(relative, 50% null null);
			top: 50%;
			transform: translateY(-50%);
			height: 42px;
		}
		.line {
			@include position(absolute, null null 0);
			background: $green;
			height: $size_line;
			width: 100%;
			bottom: 0;
		}
	}
	.steps-wrapper {
		display: flex;
		flex: 1;
		overflow: hidden;
		position: relative;
		.step {
			@include position(relative);
			flex: 1;
			height: 65px;
			cursor: pointer;
			position: relative;
			overflow: hidden;
			display: flex;
			padding-bottom: $size_line;
			color: $gray;
			transition: color 500ms;
			* {
				pointer-events: none;
			}
			.number {
				display: inline-block;
				width: 20%;
				text-align: center;
				font-size: 32px;
				position: relative;
				span {
					font-weight: bold;
					display: inline-block;
					position: absolute;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
				}
			}
			.info {
				font-weight: 300;
				flex: 1;
				position: relative;
				.center-height {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					.description {
						font-size: 11px;
						line-height: 18px;
					}
				}
			}
			&:focus {
				outline: none !important;
			}
			&.active {
				color: $green !important;
			}
		}
		.line {
			position: absolute;
			background: $green;
			height: $size_line;
			width: 0%;
			bottom: 0;
			transition: width 500ms;
		}
	}
}
