<div class="title">Compra tu seguro en solo 3 pasos</div>
<div class="actions">
    <div class="action">
        <img ng-src="{{'icon-quote.png' | imageUrl}}" alt="">
        <span>Cotiza</span>
    </div>
    <div class="action">
        <img ng-src="{{'icon-select.png' | imageUrl}}" alt="">
        <span>Elige</span>
    </div>
    <div class="action">
        <img ng-src="{{'icon-card.png' | imageUrl}}" alt="">
        <span>Paga</span>
    </div>
</div>