widget-compra-steps {
	* {
		user-select: none;
	}
	.title {
		text-align: center;
		color: $grayDark;
		font-weight: 300;
		margin-top: 5px;
		margin-bottom: 15px;
	}
	.actions {
		display: flex;
		.action {
			flex: 1;
			display: flex;
			flex-direction: column;
			img {
				margin: 0 auto;
				width: auto;
				height: 39px;
				pointer-events: none;
			}
			span {
				margin-top: .6rem;
				display: block;
				text-align: center;
				font-size: 12px;
				line-height: 15.6px;
				font-weight: 300;
				color: $gray;
			}
		}
	}
}
