<div class="title">Beneficios de comprar 100% online</div>
<div class="actions">
    <div class="action">
        <img ng-src="{{'icon-insured.png' | imageUrl}}" alt="">
        <span>Asegurado de inmediato</span>
    </div>
    <div class="action">
        <img ng-src="{{'icon-inspection.png' | imageUrl}}" alt="">
        <span>Inspección a domicilio</span>
    </div>
    <div class="action">
        <img ng-src="{{'icon-payment.png' | imageUrl}}" alt="">
        <span>Paga con cualquier tarjeta</span>
    </div>
</div>