<div class="title">Más variedad, con las mejores compañías</div>
<div class="description">Te ofrecemos una amplia variedad de opciones para que elijas la que tu prefieras, con increíbles asistencias y beneficios.</div>
<div class="detail">
    <div class="main">Detalle de tu cotización</div>
    <div class="section" ng-if="$ctrl.vehiculo">
        <div class="name">Tu vehículo</div>
        <div class="value">{{$ctrl.vehiculo}}</div>
    </div>
    <div class="section" ng-if="$ctrl.placa">
        <div class="name">Placa</div>
        <div class="value">{{$ctrl.placa}}</div>
    </div>
    <div class="section" ng-if="$ctrl.valAsegurado">
        <div class="name">Valor asegurado</div>
        <div class="value">{{$ctrl.valAsegurado | price}}</div>
    </div>
    <div class="section" ng-if="$ctrl.fechaCotizacion">
        <div class="name">Esta cotización vence</div>
        <div class="value">{{$ctrl.fechaCotizacion | fecha}}</div>
    </div>
    <div class="button">Modifica tus datos <i class="material-icons">&#xE315;</i></div>
</div>