widget-detalle-cotizacion {
	* {
		user-select: none;
		// font-weight: 300;
	}
	.title {
		margin-top: 25px;
		margin-bottom: 15px;
		font-size: 27px;
		line-height: 41.6px;
		font-weight: 300;
		letter-spacing: -1px;
	}
	.description {
		-webkit-font-smoothing: subpixel-antialiased !important;
		font-weight: 300 !important;
		line-height: 25px;
		font-size: 15px;
	}
	.detail {
		.main {
			color: $greenSeguros;
			margin: 1.75rem 0 1.25rem;
			font-size: 1.25rem;
		}
		.section {
			.name {
				color: $gray;
				font-size: .9rem;
				margin-bottom: .5rem;
			}
			.value {
				font-size: .95rem;
				margin-bottom: .75rem;
			}
		}
		.button {
			cursor: pointer;
			margin-top: 1.5rem;
			color: $green;
			position: relative;
			i {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}
