<form name="vehiculo" class="section-wrapper form-wrapper" ng-class="{'section-minimized': vm.hideStep}">
    <div class="main-title">Datos del vehículo</div>
    <div class="edit-button"><a ng-click="vm.toHideStep()">Editar <i class="material-icons">&#xE254;</i></a></div>    
    <div layout="column">
        <!-- MARCA -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <md-select-custom read-only="vm.form.readOnlyMarcas" loading="vm.form.loadingMarcas" placeholder="Marca" ng-value="vm.vehiculo.marca.valor">
                    <md-select name="marca" ng-model="vm.vehiculo.marca" ng-required="!vm.vehiculo.marca">
                        <md-option ng-value="marca" ng-repeat="marca in vm.form.marcas">{{ marca.valor }}</md-option>                                        
                    </md-select>
                </md-select-custom>
            </div>
            <div flex="5"></div>
            <div flex="50"></div>
        </div>
        <!-- REFERENCIA -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <md-select-custom read-only="vm.form.readOnlyModelos" loading="vm.form.loadingModelos" placeholder="Referencia" ng-value="vm.vehiculo.modelo.valor">
                    <i class="material-icons" ng-click="vm.showAyudaReferencia($event)">&#xE887;</i>
                    <md-select name="modelo" ng-model="vm.vehiculo.modelo" ng-required="!vm.vehiculo.modelo">
                        <md-option ng-value="modelo" ng-repeat="modelo in vm.form.modelos">{{ modelo.valor }}</md-option>                                        
                    </md-select>
                </md-select-custom>
            </div>
            <div flex="5"></div>
            <div flex="50">
                <div class="form-description padding-top-0">
                    <div class="title">Selecciona la referencia de tu vehículo</div>
                    <div class="description">Esta información está registrada en la tarjeta de propiedad.</div>
                </div>
            </div>
        </div>
        <!-- AÑO / MODELO -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <md-select-custom read-only="vm.form.readOnlyAniosModelo" loading="vm.form.loadingAniosModelo" placeholder="Modelo" ng-value="vm.vehiculo.anioModelo.valor">
                    <md-select name="anioModelo" ng-model="vm.vehiculo.anioModelo" ng-required="!vm.vehiculo.anioModelo">
                        <md-option ng-value="anio" ng-repeat="anio in vm.form.aniosModelo">{{ anio.valor }}</md-option>                                        
                    </md-select>
                </md-select-custom>
            </div>
            <div flex="5"></div>
            <div flex="50"></div>
        </div>
        <!-- DEPARTAMENTO -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <md-select-custom loading="vm.form.loadingDepartamentos" placeholder="Departamento" ng-value="vm.vehiculo.departamento.valor">
                    <md-select name="departamento" ng-model="vm.vehiculo.departamento" ng-required="!vm.vehiculo.departamento">
                        <md-option ng-value="departamento" ng-repeat="departamento in vm.form.departamentos">{{ departamento.valor }}</md-option>                                        
                    </md-select>
                </md-select-custom>
            </div>
            <div flex="5"></div>
            <div flex="50"></div>
        </div>
        <!-- CIUDAD -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <md-select-custom loading="vm.form.loadingCiudades" placeholder="Ciudad" ng-value="vm.vehiculo.ciudad.valor">
                    <md-select name="ciudad" ng-model="vm.vehiculo.ciudad" ng-required="!vm.vehiculo.ciudad">
                        <md-option ng-value="ciudad" ng-repeat="ciudad in vm.form.ciudades">{{ ciudad.valor }}</md-option>                                        
                    </md-select>
                </md-select-custom>
            </div>
            <div flex="5"></div>
            <div flex="50"></div>
        </div>
        <!-- PRENDA? -->
        <div layout="row" class="form-row">
            <div flex="50" layout="column">
                <div class="md-label-selector">¿Vehículo en prenda?</div>  
                <div layout="row" name="prendaVehicular" ng-model="vm.vehiculo.prendaVehicular" required>
                    <md-button 
                        class="md-button-selector" 
                        ng-class="{'active': vm.vehiculo.prendaVehicular.id === prendaVehicular.id}"
                        ng-click="vm.vehiculo.prendaVehicular = prendaVehicular" 
                        ng-repeat="prendaVehicular in vm.form.optPrendaVehicular"
                        >{{prendaVehicular.valor}}</md-button>
                </div>
            </div>
            <div flex="5"></div>
            <div flex="50">                  
                <div class="form-description padding-top-0">
                    <div class="title">Vehículo en prenda</div>
                    <div class="description">Encuetra este dato en la parte trasera de la tarjeta de propiedad del vehículo.</div>
                </div>
            </div>
        </div>
        <!-- 0KM ? -->
        <div layout="row" class="form-row">
            <div flex="50" layout="column">
                <div class="md-label-selector">¿Vehículo 0 km?</div>  
                <div layout="row" name="cerokm" ng-model="vm.vehiculo.cerokm" required>
                    <md-button 
                    class="md-button-selector" 
                    ng-class="{'active': vm.vehiculo.cerokm.id === cerokm.id}"
                    ng-click="vm.vehiculo.cerokm = cerokm" 
                    ng-repeat="cerokm in vm.form.opt0km"
                    >{{cerokm.valor}}</md-button>
                </div>
            </div>
            <div flex="5"></div>
            <div flex="50">
                <div class="form-description padding-top-0">
                    <div class="title">¿Por qué es importante esta información?</div>
                    <div class="description">
                        Si tu vehículo es 0km no será necesario hacerle <br>
                        inspección, de lo contrario lo haremos a domicilio.
                    </div>
                </div>
            </div>
        </div>
        <!-- PLACA / Si no ingreso anteriormente y no es 0km -->
        <div layout="row" class="form-row" ng-if="vm.vehiculo.cerokm.id !== 'S'">
            <div flex="50" layout="row">
                <md-input-line placeholder="Ingresa tu placa">
                    <input name="placa" input-uppercase ng-pattern="/(^[A-Za-z]{1,3}[0-9]{0,3}[A-Za-z0-9]{0,1})$/" ng-model="vm.vehiculo.placa" type="text" required />
                </md-input-line>
            </div>
            <div flex="5"></div>
            <div flex="50">
                <div class="form-description padding-top-0">
                    <div class="title">Sobre la placa</div>
                    <div class="description">
                        Si tu vehículo es 0 km o no tienes placa, <br />
                        deja este campo en blanco.
                    </div>
                </div>
            </div>
        </div>
        <!-- VALOR ASEGURADO -->
        <div layout="row" class="form-row">
            <div flex="50" layout="row">
                <md-input-line placeholder="Valor asegurado es" loading="vm.form.loadingValorAsegurado">
                    <input input-number name="valorAsegurado" ng-model="vm.vehiculo.valorAsegurado" type="text" required />
                </md-input-line>
            </div>
            <div flex="5"></div>
            <div flex="50">
                <div class="form-description padding-top-0">
                    <div class="title">¿Qué es el valor asegurado?</div>
                    <div class="description">
                        Si el valor no es correcto, ingresa el precio que se <br>
                        encuentra en la factura de venta.
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTINUAR -->
        <div layout="row" class="form-row">
            <div flex="100" class="text-right">
                <md-button ng-disabled="vehiculo.$invalid" class="md-seguros md-raised" ng-click="vm.validaContinuaAsegurado($event)">Continuar</md-button>
            </div>
        </div>
    </div>
</form>