.form-wrapper {
	padding: 1.25rem !important;
	position: relative;
	transition: height 500ms;
	&.section-minimized {
		height: 4.25rem;
		overflow: hidden;
		.edit-button {
			display: block;
		}
	}
	.edit-button {
		display: none;
		position: absolute;
		top: .55rem;
		right: 1rem;
		cursor: pointer;
		a {
			line-height: 3rem;
			color: $green;
			text-decoration: none;
			i {
				position: relative;
				font-size: 1rem !important;
				top: 0.2rem;
			}
		}
	}
	.main-title {
		font-size: 21px;
		line-height: 27.3px;
		padding-bottom: 25px;
	}
	.form-row {
		margin-bottom: 1.5rem;
		.form-description {
			font-size: 15px;
			padding-top: 1.5rem;
			* {
				user-select: none;
			}
			.title {
				color: $green;
				margin-bottom: 0.4rem;
			}
			.description {
				font-weight: 300;
				line-height: 1.5rem;
				color: $grayDark;
			}
		}
	}
	.form-formas-pagos {
		display: flex;
		flex-direction: column;
		.title {
			color: $gray;
			margin-bottom: 1rem;
		}
	}
}
.loading-dialog {
	padding: 2rem 7rem;
	color: $grayDark;
	.message {
		margin-top: 1rem;
	}
}
.terminos-form {
	color: $gray;
	a {
		text-decoration: none;
		color: $greenSeguros;
		// margin-left: 0.3rem;
		// margin-right: 0.3rem;
	}
}
.formas-pagos-dialog {
	padding: 2rem 1rem;
	ul {
		margin-bottom: 5px !important;
		padding-left: 30px;
		li {
			list-style: disc;
			color: $green;
			font-weight: 300;
			margin-bottom: 0;
			span {
				color: $grayDark;
			}
		}
	}
	.image-wrapper {
		margin-top: 1.5rem;
		text-align: center;
	}
}
.header-matrix {
	display: flex;
	flex-direction: row;
	* {
		user-select: none;
	}
	.detail {
		display: flex;
		flex: 1;
		flex-direction: row;
		position: relative;

		img {
			position: relative;
			top: 50%;
			max-width: 65px;
			transform: translateY(-50%);
		}
		.info {
			color: $gray;
			display: flex;
			flex-direction: column;
			flex: 1;
			position: relative;
			.txt {
				font-size: 14px;
				line-height: 19px;
				position: absolute;
				// width: 100%;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
			}
		}
	}
}
