<div class="fracaso">
    <div class="head-image">
        <img src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/exito-fracaso-img/top-img-error.jpg" />
    </div>
    <div class="content">
        <div class="section-wrapper">
            <div class="title">Tu compra no puede ser realizada</div>
            <div class="message">La transacción no pudo ser realizada debido a <b>{{vm.reason}}</b>. Por favor, intenta nuevamente y verifica que los datos ingresados estén correctos o comunícate con la línea de atención de Banco Falabella 5878000.</div>
        </div>
        <div class="actions">
            <md-button class="md-seguros md-seguros-big md-warning md-raised md-button-m" ng-click="vm.repeatPay()">Volver al inicio</md-button>
        </div>
    </div>
</div>