<div class="md-autocomplete-custom-placeholder" ng-if="$ctrl.placeholder">{{$ctrl.placeholder}}</div>
<div ng-show="!$ctrl.loading">
    <i class="material-icons dropdown" ng-if="!$ctrl.ngModel.$modelValue">&#xE5CF;</i>
    <md-autocomplete
        ng-disabled="$ctrl.isDisabled"
        md-no-cache="$ctrl.noCache"
        md-selected-item="$ctrl.selectedItem"
        md-search-text-change="$ctrl.searchTextChange($ctrl.searchText)"
        md-search-text="$ctrl.searchText"
        md-selected-item-change="$ctrl.selectedItemChange(item)"
        md-items="item in $ctrl.querySearch($ctrl.searchText)"
        md-item-text="item.valor"
        md-min-length="0"
        placeholder="{{$ctrl.placeholder}}">
        <md-item-template>
            <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">{{$ctrl.getPathShow(item)}}</span>
        </md-item-template>
        <md-not-found>
            No hay valores encontrados
        </md-not-found>
    </md-autocomplete>
</div>
<div ng-show="$ctrl.loading">
    <div class="md-autocomplete-custom-loading">Cargando...</div>
    <div class="spinner"></div>
</div>