<div class="exito">
    <div class="head-image">
        <img src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/exito-fracaso-img/top-img-exito.jpg" alt="" />
    </div>
    <div class="content">
        <div class="resume section-wrapper">
            <div class="title">
                ¡Felicidades , tu vehículo ya está asegurado! 
            </div>
            <div class="policy">
                Enviaremos tu póliza al correo <a href="">descargar aquí</a>
            </div>
            <div class="agenda">
                Sólo falta agendar tu inspección en el siguiente link
                <md-button class="md-seguros md-raised">Agendar</md-button>
            </div>
            <div class="details">
                <div class="detail-block">
                    <div class="subtitle">Detalle de la Transacción</div>
                    <div class="detail-row">
                        <div class="detail">
                            <div class="name">Nº de propuesta</div>
                            <div class="value"></div>
                        </div>
                        <div class="detail">
                            <div class="name">Fecha de compra</div>
                            <div class="value"></div>
                        </div>
                    </div>
                    <div class="detail-row">
                        <div class="detail">
                            <div class="name">Monto</div>
                            <div class="value"></div>
                        </div>
                        <div class="detail">
                            <div class="name">Medio de pago</div>
                            <div class="value">CMR</div>
                        </div>
                    </div>
                    <div class="detail-row">
                        <div class="detail">
                            <div class="name">Inicio de vigencia</div>
                            <div class="value"></div>
                        </div>
                        <div class="detail">
                            <div class="name">Fin de vigencia</div>
                            <div class="value"></div>
                        </div>
                    </div>
                </div>
                <div class="detail-block">
                    <div class="subtitle">Detalle del Vehículo</div>
                    <div class="detail-row">
                        <div class="detail">
                            <div class="name">Vehículo</div>
                            <div class="value"></div>
                        </div>
                    </div>
                    <div class="detail-row">
                        <div class="detail">
                            <div class="name">Placa</div>
                            <div class="value"></div>
                        </div>
                    </div>
                </div>
                <div class="detail-block">
                    <div class="subtitle">Detalle del Asegurado</div>
                    <div class="detail-row">
                        <div class="detail">
                            <div class="name">Asegurado</div>
                            <div class="value"></div>
                        </div>
                    </div>
                    <div class="detail-row">
                        <div class="detail">
                            <div class="name">Tipo de Documento</div>
                            <div class="value"></div>
                        </div>
                    </div>
                    <div class="detail-row">
                        <div class="detail">
                            <div class="name">Nº de documento</div>
                            <div class="value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="soat">
            <div class="title">¿Ya tienes tu Soat?</div>
            <div class="info">
                <div class="person">
                    <img src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/exito-fracaso-img//man-pointing-options.png" alt="" srcset="">
                </div>
                <div class="buttons">
                    <div class="wrapper">
                        <md-button class="md-seguros md-raised">No</md-button>
                        <md-button class="md-seguros">Sí</md-button>
                    </div>
                </div>
                <div class="information">
                    <p>El Seguro Obligatorio de Accidentes de Tránsito - SOAT, busca garantizar la atención 
                        inmediata e integral de todas las víctimas de accidentes de tránsito 
                        ocurridos en las vías del país.</p>
                    <ul>
                        <li>Consultar la fecha de vencimiento de mi Soat <a href="">Click Aquí</a></li>
                        <li>Comprar mi Soat <a href="">Click Aquí</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="more">
            <div class="title">Conoce más de nuestros productos</div>
            <div class="products">
                <div class="product">
                    <div class="icon-big">
                        <img class="green" src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/exito-fracaso-img/soat-seguros-falabella.png" alt="" >
                        <img class="white" src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/exito-fracaso-img/soat-seguros-falabella-over.png" alt="" >
                    </div>
                    <div class="message">Asegura tu vehículo y descubre grandes beneficios</div>
                    <div class="action">
                        Cotizar
                    </div>
                </div>
                <div class="product">
                    <div class="icon-big">
                        <img class="green" src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/exito-fracaso-img/seguro-de-vida-seguros-falabella.png" alt="" >                        
                        <img class="white" src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/exito-fracaso-img/Seguro-de-vida-seguros-falabella-over.png" alt="" >                        
                    </div>
                    <div class="message">Asegura tu vida y dale a tus seres queridos la tranquilidad que se merecen</div>
                    <div class="action">
                        Cotizar
                    </div>
                </div>
                <div class="product">
                    <div class="icon-big">
                        <img class="green" src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/exito-fracaso-img/seguro-mascotas-seguros-falabella.png" alt="" >                        
                        <img class="white" src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/exito-fracaso-img/seguro-mascotas-seguros-falabella-over.png" alt="" >                        
                    </div>
                    <div class="message">Asegura a tu mejor amigo en caso de cualquier eventualidad</div>
                    <div class="action">
                        Cotizar
                    </div>
                </div>
                <div class="product">
                    <div class="icon-big">
                        <img class="green" src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/exito-fracaso-img/seguro-bicicletas-seguros-falabella.png" alt="" >                        
                        <img class="white" src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/exito-fracaso-img/seguro-bicicletas-seguros-falabella-over.png" alt="" >                        
                    </div>
                    <div class="message">Asegura tu bicicleta, preocúpate menos y pedalea más.</div>
                    <div class="action">
                        Cotizar
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <md-button class="md-raised md-seguros md-seguros-big">Continuar comprando</md-button>
        </div>
    </div>
</div>