<div layout="column" class="margin-top-1rem">
    <div layout="row" ng-show="!vm.loading">
        <widgets ng-widgets="vm.widgets" flex="25"></widgets>
        <content class="margin-left-2rem" flex="75">
            <div class="section-wrapper resumen">
                <div class="action" ng-click="resumenShow = !resumenShow">
                    <a ng-if="resumenShow">Ocultar detalle</a>
                    <a ng-if="!resumenShow">Ver detalle</a>
                </div>
                <div class="title">Resumen de la compra</div>
                <div class="info-wrapper" ng-if="resumenShow">
                    <div class="row-info">
                        <div class="info">
                            <img ng-src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/{{vm.propuesta.compania.toLowerCase()}}.png"
                                alt="">
                        </div>
                        <div class="info">
                            <div class="name">Plan</div>
                            <div class="value">{{vm.propuesta.plan | humanize }}</div>
                        </div>
                        <div class="info">
                            <div class="name">Prima anual</div>
                            <div class="value">{{ vm.propuesta.primaAnual | price }}</div>
                        </div>
                    </div>
                    <div class="row-info">
                        <div class="info">
                            <div class="name">Asegurado</div>
                            <div class="value">{{ vm.propuesta.asegurado | humanize }}</div>
                        </div>
                        <div class="info">
                            <div class="name">Tipo de documento</div>
                            <div class="value">{{ vm.propuesta.tipoDocumento | humanize }}</div>
                        </div>
                        <div class="info">
                            <div class="name">Nº de documento</div>
                            <div class="value">{{ vm.propuesta.numeroDocumento | numero }}</div>
                        </div>
                    </div>
                    <div class="row-info">
                        <div class="info">
                            <div class="name">Vehículo</div>
                            <div class="value">{{ vm.propuesta.vehiculo }}</div>
                        </div>
                    </div>
                    <div class="row-info">
                        <div class="info">
                            <div class="name">Placa</div>
                            <div class="value">{{ vm.propuesta.patente }}</div>
                        </div>
                        <div class="info">
                            <div class="name">Motor</div>
                            <div class="value">{{ vm.propuesta.motor }}</div>
                        </div>
                        <div class="info">
                            <div class="name">Chasis</div>
                            <div class="value">{{ vm.propuesta.chasis }}</div>
                        </div>
                    </div>
                    <div class="row-info">
                        <div class="info">
                            <div class="name">Color</div>
                            <div class="value">{{ vm.propuesta.color | humanize }}</div>
                        </div>
                        <div class="info">
                            <div class="name">Departamento</div>
                            <div class="value">{{ vm.propuesta.departamento | humanize }}</div>
                        </div>
                        <div class="info">
                            <div class="name">Ciudad</div>
                            <div class="value">{{ vm.propuesta.ciudad | humanize }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrapper pago">
                <div class="title">Pago en línea</div>
                <div class="content">
                    <form name="pago" class="prima-input">
                        <div class="prima">
                            <div class="name">Prima mensual</div>
                            <div class="value">{{vm.monthly | price}}</div>
                        </div>
                        <div class="message">La primera cuota será cobrada según la fecha de facturación de tu tarjeta.</div>
                        <div class="input">
                            <md-input-bordered placeholder="Ingresa los últimos 4 dígitos de tu CMR">
                                <input input-number="false" name="dni" maxlength="4" minlength="4" ng-model="vm.pago.tarjeta.validacion" type="password"
                                    required />
                            </md-input-bordered>
                            <div class="icon-custom">
                                <img src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/icon-padlock.svg" alt="">
                            </div>
                        </div>
                        <div class="checkboxes">
                            <div class="checkbox-wrapper">
                                <md-checkbox name="politicas" class="checkbox-seguros" ng-model="vm.pago.aceptacion.terminos" md-no-ink required required
                                    value="He leído y acepto los términos y condiciones">
                                    <span>He leído y acepto los
                                        <a href="" target="_blank">términos y condiciones</a>
                                    </span>
                                </md-checkbox>
                            </div>
                            <div class="checkbox-wrapper">
                                <md-checkbox name="politicas" class="checkbox-seguros" ng-model="vm.pago.aceptacion.declaracion" md-no-ink required required
                                    value="Declaro que la información registrada es verdadera.">
                                    <span>Declaro que la información registrada es verdadera.
                                        <a>Ver más</a>
                                    </span>
                                </md-checkbox>
                            </div>
                        </div>
                        <div class="pay">
                            <md-button ng-disabled="pago.$invalid" class="md-seguros md-raised" ng-click="vm.pagar($event)">Pagar</md-button>
                        </div>
                    </form>
                    <div class="information">
                        <div class="card">
                            <img src="https://cdn-segurosfalabella.azureedge.net/colombia/full-cobertura/img/cmr-card-validation-compact.png" alt="">
                        </div>
                        <div class="details">
                            Si pagas con tu tarjeta CMR, obtienes los siguientes beneficios:
                            <div class="detail">No te cobramos intereses.</div>
                            <div class="detail">No afetamos el cupo de tu tarjeta.</div>
                            <div class="detail">Las cuotas se cargarán mensualmente en la factura de la tarjeta.</div>
                        </div>
                    </div>
                </div>
            </div>
        </content>
    </div>
    <div layout="column" ng-show="vm.loading">
        <loading show="true" message="Buscando los mejores seguros para ti..."></loading>
    </div>
</div>