.pago {
	padding: 1.25rem !important;
	* {
        font-weight: 300;
        user-select: none;
	}
	.title {
		font-size: 21px;
		line-height: 27px;
		position: relative;
	}
	.content {
		display: flex;
        margin-top: 1rem;
        user-select: none;
		.prima-input {
			flex: 1;
			max-width: 45%;
			padding-right: 5%;
			.prima {
				font-size: 21px;
				margin-bottom: 1rem;
				.name {
					display: inline-block;
				}
				.value {
					display: inline-block;
					color: $green;
				}
			}
			.message {
				font-size: 0.9rem !important;
				line-height: 1.5rem;
				margin-bottom: 1rem;
			}
			.input {
				margin-top: 2rem !important;
				position: relative;
				.icon-custom {
					position: absolute;
					max-width: 25px;
					top: 50%;
					transform: translateY(-50%);
					right: .5rem;
					user-select: none;
					pointer-events: none;
					img {
						width: 100%;
					}
				}
			}
			.checkboxes {
				margin-top: 2rem;
				margin-bottom: 1.5rem;
				.checkbox-wrapper {
					display: flex;
					flex-direction: row;
					a {
						text-decoration: none;
						color: $green;
					}
					span {
						display: inline-block;
						font-size: 0.8rem;
						flex: 1;
					}
				}
			}
			.pay {
				text-align: center;
			}
		}
		.information {
			flex: 1;
			max-width: 45%;
			padding-left: 5%;
			.card {
				margin-bottom: 1rem;
				img {
					width: 100%;
                    max-height: 170px;
                    pointer-events: none;
				}
			}
			.details {
				font-size: 0.9rem;
				.detail {
					margin-left: 1rem;
					padding: 0.25rem 0;
					&:first-child {
						margin-top: 1rem;
					}
					&:before {
						content: '- ';
					}
				}
			}
		}
	}
}
.resumen {
	position: relative;
	padding: 1.25rem !important;
	* {
		font-weight: 300;
		user-select: none;
	}
	.title {
		font-size: 21px;
		line-height: 27px;
		position: relative;
	}
	.action {
		position: absolute;
		right: 1rem;
		cursor: pointer;
		z-index: 10;
		top: .5rem;
		font-size: 0.9rem;
		user-select: none;
		&:active,
		&:focus {
			outline: none;
		}
		a {
			line-height: 3rem;
			color: $green;
			text-decoration: none;
			i {
				position: relative;
				font-size: 1rem !important;
				top: 0.2rem;
			}
		}
	}
	.info-wrapper {
		display: flex;
		flex-direction: column;
		margin-top: 1rem;
		.row-info {
			display: flex;
			margin-bottom: 1.5rem;
			.info {
				flex: 1;
				// max-width: 33%;
				img {
					max-width: 60%;
					max-height: 50px;
                    margin: 0 auto;
                    pointer-events: none;
				}
				.name {
					color: $gray;
					font-size: 0.85rem;
				}
				.value {
					padding-top: 0.5rem;
					font-size: .95rem;
				}
			}
		}
	}
}
.exito {
	* {
		user-select: none;
		font-weight: 300;
	}
	.head-image {
		width: 100%;
		pointer-events: none;
		img {
			width: 100%;
		}
	}
	.content {
		.resume {
			max-width: 80%;
			margin: 0 auto;
			position: relative;
			top: -2rem;
			.title {
				text-align: center;
				color: $greenSeguros;
				font-size: 2rem;
			}
			.details {
				max-width: 80%;
				margin: 0 auto;
				padding: 1.5rem 0;
				.detail-block {
					display: flex;
					flex-direction: column;
					color: $black;
					.subtitle {
						margin: 1rem 0;
					}
					.detail-row {
						display: flex;
						flex-direction: row;
						padding: 0.75rem 0;
						border-bottom: 1px solid $borderLightColor;
						.detail {
							flex: 1;
							display: flex;
							.name {
								min-width: 180px;
								color: $gray;
							}
							.value {
								flex: 1;
								color: $green;
							}
						}
					}
				}
			}
		}
		.policy {
			text-align: center;
			color: $grayDark !important;
            padding: 1.5rem 0 .5rem;
            font-size: 1.25rem;
			a {
				text-decoration: none;
				color: $greenSeguros;
			}
		}
		.agenda {
			text-align: center;
			color: $grayDark;
            display: flex;
            font-size: 1.25rem;
			flex-direction: column;
			align-items: center;
			padding: .5rem 0 1.5rem;
			.md-button {
				margin-top: .5rem;
			}
		}
		.soat {
			min-height: 10rem;
			padding: .75rem 10% 0;
			background: #ebebeb;
			* {
				user-select: none;
			}
			.title {
				font-size: 1.75rem;
				color: $greenSeguros;
			}
			.info {
				display: flex;
				.person {
					max-width: 250px;
					min-width: 200px;
					img {
						pointer-events: none;
						width: 100%;
					}
				}
				.buttons {
					display: flex;
					.wrapper {
						display: flex;
						align-items: center;
						.md-button {
							max-width: 2rem;
							margin: .5rem;
						}
					}
				}
				.information {
					flex: 1;
					color: $black;
					padding-left: 2rem;
					ul {
						padding: 0;
						li {
							list-style: none;
							padding: 0 0 0 1.5rem;
							position: relative;
							&::before {
								position: absolute;
								left: .5rem;
								display: inline-block;
								content: '•';
								color: $greenSeguros;
								padding-right: 0.5rem;
							}
							a {
								color: $green;
								font-weight: bold;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
		.more {
			max-width: 80%;
			margin: 0 auto;
			.title {
				text-align: center;
				font-size: 1.75rem;
				margin: 1rem 0;
				color: $greenSeguros;
			}
			.products {
				display: flex;
				min-height: 15rem;
				align-items: center;
				flex-grow: 1;
				.product {
					padding: .5rem;
					border-radius: 0.5rem;
					flex: 1;
					text-align: center;
					display: flex;
					flex-direction: column;
					cursor: pointer;
					transition: background 100ms;
					height: auto !important;
					align-items: center;
					flex-grow: 1;
					* {
						transition: width 250ms, opacity 250ms, height 250ms;
					}
					.icon-big {
						height: 115px;
						width: 115px;
						margin: 0 auto .5rem;
						img.green {
							display: inline-block;
						}
						img.white {
							display: none;
						}
						img {
							width: 100%;
							pointer-events: none;
						}
					}
					.message {
						display: none;
						opacity: 0;
						overflow: hidden;
						line-height: 1.5rem;
						font-size: 0.8rem;
						color: transparent;
					}
					.action {
						opacity: 0;
						height: 0;
						overflow: hidden;
						padding: 0;
						font-size: 1.15rem;
						font-weight: bold;
						color: transparent;
					}
					&:hover {
						background: $green;
						padding-bottom: 0;
						.icon-big {
							height: 80px;
							width: 80px;
							img.green {
								display: none;
							}
							img.white {
								display: inline-block;
							}
						}
						.message {
							opacity: 1;
							height: auto;
							display: block;
							color: white;
						}
						.action {
							opacity: 1;
							height: 37px;
							padding: 0.5rem 0;
							color: white;
						}
					}
				}
			}
		}
		.actions {
			margin: 2rem 10%;
			text-align: center;
		}
	}
}
.fracaso {
	* {
		user-select: none;
	}
	b {
		font-weight: normal !important;
	}
	.head-image {
		width: 100%;
		pointer-events: none;
		img {
			width: 100%;
		}
	}
	.content {
		max-width: 80%;
		margin: 0 auto;
	}
	.section-wrapper {
		* {
			font-weight: 300;
		}
		.title {
			text-align: center;
			color: $yellow;
			font-size: 1.75rem;
		}
		.message {
			text-align: center;
			margin: 1rem 1rem;
		}
	}
	.actions {
		margin-top: 1.5rem;
		text-align: center;
	}
}
