loading {
    display: block;
    text-align: center;
	.spinner {
		height: 50px !important;
		width: 50px !important;
		border-top: 6px solid rgba(0, 0, 0, .08) !important;
		border-right: 6px solid rgba(0, 0, 0, .08) !important;
		border-bottom: 6px solid rgba(0, 0, 0, .08) !important;
		border-left: 6px solid #4fceab !important;
    }
    .message {
        margin-top: 1rem;
        font-size: 1.25rem;
    }
}
